html {
  margin: auto;
  padding: 20px 20px 20px 20px;
}

body {
  width: auto;
  height: auto;
  background-color: thistle;
}
.counter {
  margin: auto;
  padding: 10px 0px 10px 10px; /* top || right || bottom || left */
  border: 2px solid gray;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  text-align: center;
  justify-content: center;
}

.count {
  margin: auto;
  padding: 30px 30px 30px 30px;
  font-size: 5vh;
}

h1 {
  font-size: xx-large;
  text-align: center;
  justify-content: center;
}

button {
  margin: auto;
  padding: 10px;
  font-weight: bold;
  font-size: 3vh;
  border-radius: 50%;
  border: transparent;
  background-color: tomato;
  cursor: pointer;
}
